
#wbTabContent {
    background: #f1f1f1;
    border-radius: 0 .25em .25em .25em;

}

input.visible {
    visibility: visible !important;
}

.close-fix {
    padding: 0px !important;
}

.alert-fix {
    margin-bottom: 0px !important;
}

.nav-fix {
    margin: 0px !important;
}